<div class="hero-section mb-48">
  <div
    class="hero-section-content pt-52 max-md:pt-72 ml-24 font-bold max-md:ml-14 max-sm:ml-6"
  >
    <p
      class="text-[100px] max-md:text-[72px] max-sm:text-[48px] text-[#F5F5F5] tracking-tight"
    >
      Explore
    </p>
    <p
      class="text-[42px] max-md:text-[36px] max-sm:text-[18px] text-[#F5F5F5] tracking-tight mb-4"
    >
      THE WORLD
    </p>
    <button
      class="text-[#F5F5F5] px-6 py-3 max-md:px-4 max-md:py-2 max-sm:px-2 max-sm:py-3 rounded-lg book-btn"
      [routerLink]="['/listings/grid']"
    >
      Book Now
    </button>
  </div>
</div>

<div
  class="without-hassel-section grid grid-cols-2 mx-20 mb-48 max-md:grid-cols-1"
>
  <img src="/assets/home.svg" />
  <div class="mt-24 ml-8 font-medium">
    <p class="text-[#0B7285] text-[46px] font-semibold">
      Travel Without Hassel
    </p>
    <p class="text-[#737373] dark:text-[#F5F5F5] text-[23px] mb-4 w-[80%]">
      Planning your vacation made easier and better with us
    </p>
    <button
      [routerLink]="['/listings/grid']"
      class="text-[#F5F5F5] px-6 py-3 rounded-lg bg-[#0b7285] hover:bg-[#095c6b] duration-300"
    >
      Explore
    </button>
  </div>
</div>
<div class="why-here-section grid grid-cols-2 mx-20 mb-48 max-md:grid-cols-1">
  <div class="mt-24 ml-8 font-medium">
    <p class="text-[#0B7285] text-[46px] font-semibold">Why we are here</p>
    <p class="text-[#737373] dark:text-[#F5F5F5] text-[23px] mb-4 w-[80%]">
      Our main goal is to make travel accessible to everyone as we believe that
      it's the best investment you can make.
    </p>
  </div>
  <img class="brightness-75 max-md:row-start-1" src="/assets/family.svg" />
</div>
<div class="feature-block mb-48">
  <p class="text-[#0B7285] text-[46px] font-semibold text-center">
    Reasons To Choose Us
  </p>
  <div
    class="mt-14 grid grid-cols-3 grid-rows-2 max-md:grid-cols-2 max-sm:grid-cols-1 mx-24 gap-8 font-medium"
  >
    <div>
      <div
        class="first-feature bg-[#0B7285] w-[60px] h-[60px] rounded-full flex items-center justify-center mb-1"
      >
        <img width="30px" src="/assets/heart-icon.svg" />
      </div>
      <h1 class="text-[#0B7285] text-[28px] font-bold mb-1">
        Easy to use and learn
      </h1>
      <p class="text-[#737373] dark:text-[#F5F5F5] text-[18px]">
        A technology suite surprisingly easy to use and even simpler to learn by
        our customers.
      </p>
    </div>
    <div>
      <div
        class="second-feature bg-[#0B7285] w-[60px] h-[60px] rounded-full flex items-center justify-center mb-1"
      >
        <img width="25px" src="/assets/rocket-icon.svg" />
      </div>
      <h1 class="text-[#0B7285] text-[28px] font-bold mb-1">
        Get started in minutes
      </h1>
      <p class="text-[#737373] dark:text-[#F5F5F5] text-[18px]">
        Save your precious time as we help putting the world within your reach
        in a couple of minutes.
      </p>
    </div>
    <div>
      <div
        class="third-feature bg-[#0B7285] w-[60px] h-[60px] rounded-full flex items-center justify-center mb-1"
      >
        <img width="25px" src="/assets/diamond-icon.svg" />
      </div>
      <h1 class="text-[#0B7285] text-[28px] font-bold mb-1">
        Seamless UI & UX
      </h1>
      <p class="text-[#737373] dark:text-[#F5F5F5] text-[18px]">
        User friendly websites & apps that provide seamless user experience to
        our customers.
      </p>
    </div>
    <div>
      <div
        class="fourth-feature bg-[#0B7285] w-[60px] h-[60px] rounded-full flex items-center justify-center mb-1"
      >
        <img width="20px" src="/assets/lock-icon.svg" />
      </div>
      <h1 class="text-[#0B7285] text-[28px] font-bold mb-1">
        Services you can trust
      </h1>
      <p class="text-[#737373] dark:text-[#F5F5F5] text-[18px]">
        We're working to help make you feel secure and protected by creating a
        trusted platform for collecting and transferring payments.
      </p>
    </div>
    <div>
      <div
        class="fifth-feature bg-[#0B7285] w-[60px] h-[60px] rounded-full flex items-center justify-center mb-1"
      >
        <img width="25px" src="/assets/support-icon.svg" />
      </div>
      <h1 class="text-[#0B7285] text-[28px] font-bold mb-1">24/7 support</h1>
      <p class="text-[#737373] dark:text-[#F5F5F5] text-[18px]">
        Our global Community Support team is at the ready 24/7 in 11 different
        languages.
      </p>
    </div>
    <div>
      <div
        class="sixth-feature bg-[#0B7285] w-[60px] h-[60px] rounded-full flex items-center justify-center mb-1"
      >
        <img width="25px" src="/assets/accessibilty-icon.svg" />
      </div>
      <h1 class="text-[#0B7285] text-[28px] font-bold mb-1">
        Accessibility needs
      </h1>
      <p class="text-[#737373] dark:text-[#F5F5F5] text-[18px]">
        Members of our community should trust that their Hosts will provide
        accurate information about features related to accessibility.
      </p>
    </div>
  </div>
</div>

<div class="testimonial-section mb-48 font-medium">
  <p class="text-[#0B7285] text-[46px] text-center">
    Our Lovely Customers Reviews
  </p>
  <div class="scroller">
    <div class="tag-list scroller__inner">
      @for (customer of customerReviews; track $index) {
      <div class="customer-review w-64 h-64 bg-[#0B7285] relative rounded-lg">
        <img class="w-28 absolute -top-10 left-20" [src]="customer?.image" />
        <div class="text-content pt-20 text-center">
          <p class="text-[#E7F1F3] pb-2 tracking-wide">{{ customer?.name }}</p>
          <p class="text-[#4ABCD1] px-4">" {{ customer?.review }} "</p>
        </div>
      </div>
      }
    </div>
  </div>
</div>
